*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility class */
.container{
  width: 80%;
  margin: auto;
}
.bg_orange{
  background-color: #FE775A;
}
.bg_lightblue{
  background-color: #F4F9FD;
}
.bg_aquamarine{
  background-color: #AFEBE4;
}

.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.fw_600{
  font-weight: 600;
}
/* /utility class */

body{
  font-family: 'Montserrat', sans-serif;
  min-width: 1200px;
}
/* header */
/* upper_navbar */
.upper_navbar{
  z-index: 2;
  min-width: 1200px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #33475B;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #33475B;
}
.upper_navbar_left{
  width: 50%;
}
.upper_navbar_left a{
  text-decoration: none;
  color: #33475B;
}
.country_menu{
  padding-right: 20px;
  border-right: 2px solid #8B9599;
}
.contact_menu{
  display: inline-block;
}
.contact_us{
  padding-left: 20px;
}
.upper_navbar_right{
  width: 50%;
  text-align: right;
}
.upper_navbar_right a{
  margin-left: 20px;
}
.search_icon{
  color: #11ABC2;
}
.login_btn{
  color: #FE775A;
  padding: 10px;
  border: 1px solid #FE775A;
  border-radius: 4px;
  text-decoration: none;
}
.get_free_btn{
  color: white;
  background-color: #FE775A;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}
.login_btn:hover{
  background-color: #f1efef;
}
.get_free_btn:hover{
  background-color: #fe775ab5;
}
/* /upper_navbar */

/* navbar */
.navbar{
  margin-top: 80px;
  height: 80px;
  min-width: 1000px;
}

.logo{
  height: 80px;
  line-height: 80px;
}
.header_logo{
  vertical-align: middle;

}
.navbar_right{
  line-height: 80px;
}
.navbar_right a{
  text-decoration: none;
  color: #33475B;
  margin-left: 20px;
}

.navbar_right > a > i{
  margin-left: 12px;
}
/* /navbar */

/* hero_image */
.hero_image{
  min-width: 1200px;
  width: 100%;
  height: 610px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.hero_text{
  width: 50%;
  color: #33475B;
  margin-top: 45px;
}
.hero_text h1{
  font-size: 50px;
}
.hero_text > h1, .hero_text > p, .hero_text > a{
  margin-bottom: 20px;
}
.hero_text > p, a{
  font-size: 14px;
  line-height: 2em;
}
.big_btn{
  display: inline-block;
}
p:last-child{
  font-size: 12px;
}
/* /hero_image */

/* header_spacer */
.header_spacer{
  min-width: 1200px;
  height: 80px;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
}
/* /header_spacer */
/* /header */

/* main */
/* services */
.services{
  min-width: 1200px;
}
/* services_header */
.services_header_content{
  text-align: center;
  width: 72%;
  margin: auto;
  padding: 40px 180px;
  color: #33475B;
  line-height: 1.5em;
}
.services_header_content h2{
  margin-bottom: 20px;
  font-weight: 600;
}
/* /services_header */

/* services_first_row */
.services_product_first_row{
  background-color: white;
  padding: 60px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px #dedede, -1px -1px 5px #dedede, 1px -1px 5px #dedede, -1px  1px 5px #dedede;
  border-radius: 5px;
}
.services_product_first_row_content_left{
  width: 35%;
  text-align: center;
}
#book_image{
  display: block;
  margin: auto;
  width: 70%
}
.learn_more{
  margin: auto;
  width: 70%;
}
.btn_orange{
  color: white;
  background-color: #FE775A;
  font-size: 14px;
  padding: 10px 25px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
.services_product_first_row_content_right{
  width: 65%;
  padding-left: 20px;
  color: #33475B;
}
h3{
  font-size: 23px;
  line-height: 2em;
}
.services_product_first_row_content_right p{
  margin-top: 30px;
  font-size: 14px;
  line-height: 2em;
}
.popular{
  margin-top: 25px;
}
#h4_main_first_row{
  display: inline-block;
  padding-right: 10px;
}
.services_first_row hr{
  border: 1px solid #899396;
  display: inline-block;
  width: 58%;
  vertical-align: middle;
}
.services_product_first_row_content_right li{
  display: inline-block;
  padding-right: 20px;
}
.list{
  margin-top: 25px;
}
.main_list{
  list-style: none;
}
.main_list .fas{
  color: #FE775A;
  padding-right: 14px;
}
/* /services_first_row */

/* services_second_row */
.services_second_row{
  padding-bottom: 50px;
}
.services_card{
  width: 28%;
  height: 600px;
  background-color: white;
  padding: 30px;
  box-shadow: 1px 1px 5px #dedede, -1px -1px 5px #dedede, 1px -1px 5px #dedede, -1px  1px 5px #dedede;
  border-radius: 5px;
  text-align: center;
  color: #33475B;
}
.mg_27{
  margin-top: 27px;
}
#mid_card{
  margin: 0 83.5px;
}
#card_p_padding{
  padding: 0 6px;
}
.img_second_row{
  height: 90px;
}
.services_second_row hr{
  border: 1px solid #899396;
  vertical-align: middle;
}
.services_card li{
  text-align: left;
}
#btn_second_row{
  margin-top: 0;
}
.btn_orange:hover{
  background-color: #fe775ab5;
}
/* /services_second_row */
/* /services */

/* community */
.community{
  color: white;
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  padding-bottom: 80px;
}
.community_header{
  padding: 50px 50px 50px 50px;
  text-align: center;
}
.community_header h2{
  font-size: 32px;
  font-weight: 600;
}
.community_header p{
  font-size: 16px;
}
.community_first_row, .community_second_row{
  width: 100%;
}
.community_info{
  width: 25%;
  text-align: center;
  padding: 20px;
}
.community_info img{
  height: 30px;
  margin-bottom: 15px;
}
.community_info h2{
font-size: 40px;
font-weight: 600;
margin-bottom: 15px;
}
.community_info p{
font-size: 13px;
margin-bottom: 15px;
}
.border_left{
  border-left: 1px solid white;
}
.community_first_row .community_info{
  border-bottom: 1px solid white;
}
/* /community */

/* customers */
.customers_header{
  width: 100%;
}
.data{
  width: 35%;
  padding: 50px;
}
.partner{
  width: 65%;
  padding: 70px 50px 50px 100px;
}
.customers_text{
  width: 45%;
  padding: 30px 50px 50px 0;
}
.customers_image{
  width: 55%;
  text-align: right;
}
#number{
  font-size: 50px;
}
.data p{
  width: 170px;
  line-height: 1.8em;
}
.customers h2{
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 600;
}
.partner img{
  width: 100px;
  margin-left: 30px;
  line-height: 35px;
  vertical-align: middle;
}
.partner_image_upperrow{
  margin-bottom: 30px;
}

.btn_customers{
  margin-bottom: 20px;
}
.customers_text p{
  margin-bottom: 20px;
}
.customers_image img{
  z-index: 1;
  width: 250px;
}

/* /customers */
/* /main */
